@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Itim&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  font-family: "Montserrat", sans-serif;
}

.hero-banner {
  background-image: url(../imgs/variety-of-fresh-raw-beef-steaks-Z5ZHW98c.jpg);
  background-position: center center;
  background-size: cover;
  height: 55vh;
}

.hero-banner .container-hb {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.hero-banner .container-hb h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-banner .container-hb ul {
  display: flex;
}

.hero-banner .container-hb ul li {
  list-style: none;
  margin-right: 0.3rem;
  color: #fff;
}

.hero-banner .container-hb ul li a {
  text-decoration: none;
  color: #fff;
}

.hero-banner .container-hb ul li a:hover {
  color: #d9a273;
  transition: 0.3s ease-in-out;
}

/* Our Blog */
.our-blog {
  margin: 100px 0px 200px 0px;
}

.our-blog .container {
  padding: 0;
}

.our-blog .container .intro-title-blog {
  text-align: center;
  line-height: 2;
}

.our-blog .container .intro-title-blog h4 {
  font-size: 1.3rem;
  color: #d9a273;
  font-weight: 600;
  font-family: "Itim", cursive;
  text-transform: uppercase;
}

.our-blog .container .intro-title-blog h2 {
  color: white;
  font-size: 3.5rem;
}

.our-blog .container .intro-title-blog p {
  color: white;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto;
}

.our-blog .container .row {
  width: 90%;
  height: 75vh;
  margin: 50px auto;
  display: flex;
  column-gap: 30px;
  padding-top: 2rem;
  border: 1px solid #d9a273;
}

.our-blog .container .row .move-to-left {
  position: relative;
  width: 30%;
  height: 65vh;
  margin-right: 30px;
}

.our-blog .container .row .move-to-left .col {
  flex-basis: 30%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: -7%;
  background-color: #101010;
}


.our-blog .container .row .move-to-left .col .primary-image {
  overflow: hidden;
}


.our-blog .container .row .move-to-left .col .primary-image img {
  width: 100%;
}

.our-blog .container .row .move-to-left .col .primary-image:hover>img {
  -webkit-transform: rotate(10deg) scale(1.3);
  transition: .5s ease-in-out;
}

.our-blog .container .row .move-to-left .col .text {
  padding: 1rem 1.5rem;
}

.our-blog .container .row .move-to-left .col .text h3 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 15px 0px;
  width: 80%;
}

.our-blog .container .row .move-to-left .col .text span>i {
  margin-right: 10px;
}

.our-blog .container .row .move-to-left .col .text span {
  color: #b1845e;
  margin-right: 40px;
}


.our-blog .container .row .move-to-left .col .text p {
  color: white;
  line-height: 1.3;
  margin: 15px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


.our-blog .container .row .move-to-left .col .text a {
  color: #BF0413;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Hind', sans-serif;
  letter-spacing: 2px;
}

.our-blog .container .row .move-to-left .col .text a:hover {
  color: #fff;
  transition: .4s ease-in-out;
}

.video-bg .container {
  position: relative;
}

.video-bg .container video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-bg .container .video-wrapper {
  border: 2px solid #000;
  height: 60vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-bg .container .video-wrapper video {
  border: none;
  outline: none;
}

.video-bg .container .overlay {
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: #000;
  position: absolute;
}

.video-bg .container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  color: white;
}

.video-bg .container .header h1 {
  margin: 10px 0px;
  font-size: 3.5rem;
  color: #fff;
}

.video-bg .container .header p {
  font-size: 1rem;
  text-align: center;
  width: 70%;
  color: #fff;
  margin: 20px 0px;
}

.video-bg .container button {
  background-color: #BF0413;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 2.3rem;
}

.video-bg .container button:hover {
  background-color: #400101;
  transition: .3s ease-in-out;
}

.video-bg .container button a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}