@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap%27');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  font-family: 'Montserrat', sans-serif;
}

.contact-us {
  height: auto;
}

.contact-us .hero-banner {
  background-image: url(../imgs/variety-of-fresh-raw-beef-steaks-Z5ZHW98c.jpg);
  background-position: center center;
  background-size: cover;
  height: 55vh;
}

.contact-us .hero-banner .container-hb {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.contact-us .hero-banner .container-hb h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.contact-us .hero-banner .container-hb ul {
  display: flex;
}

.contact-us .hero-banner .container-hb ul li {
  list-style: none;
  margin-right: 0.3rem;
  color: #fff;
}

.contact-us .hero-banner .container-hb ul li a {
  text-decoration: none;
  color: #fff;
}

.contact-us .hero-banner .container-hb ul li a:hover {
  color: #D9A273;
  transition: .3s ease-in-out;
}

.contact-us .container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0rem;
}

.contact-us .row {
  margin: 100px 0px;
  display: flex;
  column-gap: 100px;
}

.contact-us .row .col {
  flex-basis: 50%;
}


.gap {
  margin-top: 50px;
}

.contact-us .row .col:first-child .intro-title {
  font-size: 1.2rem;
  font-family: 'Itim', cursive;
  color: #D9A273;
  text-transform: uppercase;
  margin: 20px 0px;
}

.contact-us .row .col:first-child .title {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0px;
}

.contact-us .row .col:first-child .description {
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.5;
  margin: 20px 0px;
}

.contact-us .row .col:first-child .row-inside {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 20px 0px;
}

.contact-us .row .col:first-child .row-inside .col {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.contact-us .row .col:first-child .row-inside .col .icon i {
  font-size: 2.5rem;
  color: #D9A273;
}

.contact-us .row .col:first-child .row-inside .col .content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.contact-us .row .col:first-child .row-inside .col .content p {
  margin: 8px 0px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.contact-us .row .col:first-child h2 {
  color: #fff;
  margin: 20px 0px;
}

.contact-us .row .col:first-child .social-media ul {
  display: flex;
}

.contact-us .row .col:first-child .social-media ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #400101;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-us .row .col:first-child .social-media ul li a {
  text-decoration: none;
  color: #fff;
}

.contact-us .row .col:first-child .social-media ul li a i {
  font-size: 18px;
}

.contact-us .row .col:first-child .social-media ul li:hover>a {
  color: #D9A273;
  transition: .3s ease-in-out;
}

.contact-us .row .col:last-child h2 {
  color: #fff;
}

.contact-us .row .col:last-child form {
  margin: 30px 0px;
}

.contact-us .row .col:last-child form input {
  display: block;
  width: 100%;
  padding: 1.1rem 1.3rem;
  background: none;
  border: 1px solid #fff;
  margin: 15px 0px;
  color: #fff;
}

.contact-us .row .col:last-child form input::placeholder,
.contact-us .row .col:last-child form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
}

.contact-us .row .col:last-child form textarea {
  display: block;
  resize: none;
  height: 250px;
  width: 100%;
  padding: 1.1rem 1.3rem;
  background: none;
  border: 1px solid #fff;
  margin: 15px 0px;
  color: #fff;
}

.contact-us .row .col:last-child button {
  padding: 1.1rem 1.5rem;
  background-color: #BF0413;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
}

.contact-us .row .col:last-child button:hover {
  background-color: #300101;
  transition: .5s ease-in-out;
}

.contact-us .row .col:last-child button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.map {
  width: 100%;
  height: 50vh;
}

.map iframe {
  width: 100%;
  height: 100%;
}