@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap%27');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: #400101;
}

footer .container {
  border-bottom: 1px solid #D9A273;
  padding: 6rem 0 6rem 0;
  width: 85%;
  margin: 0 auto;
}

footer .container .row {
  display: flex;
}

footer .container .row .col:first-child {
  flex-basis: 30%;
}

footer .container .row .col {
  flex-basis: 23.3%;
}

footer .container .row .col .image {
  width: 316px;
  height: 256px;
}

footer .container .row .col .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .container .row .col h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

footer .container .row .col .contact li {
  margin-top: 15px;
  list-style-type: none;
}

footer .container .row .col .contact li i {
  color: #D9A273;
  margin-right: 10px;
}

footer .container .row .col .contact li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}

footer .container .row .col .contactul li a:hover {
  color: #D9A273;
  transition: .3s ease-in-out;
}

footer .container .row .col:last-child .contact>li>i {
  font-size: 1.8rem;
  margin-right: 20px;
}

footer .container .row .col:last-child .contact li {
  margin: 20px 0px;
}

footer .container .row .col:last-child .social-media-2 .icons {
  display: flex;
}

footer .container .row .col:last-child .social-media-2 .icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #400101;
  border: 1px solid #D9A273;
  border-radius: 50%;
  margin-right: 20px;
}

footer .container .row .col:last-child .social-media-2 .icons li:hover i {
  transform: scale(1.2);
}

footer .container .row .col:last-child .social-media-2 .icons li a {
  text-decoration: none;
  color: #fff;
}

footer .container .row .col:last-child .social-media-2 .icons li a i {
  font-size: 18px;
}

footer .container .row .col:last-child .social-media-2 .icons li:hover>a {
  color: #D9A273;
  transition: .3s ease-in-out;
}

footer .container .row .col:last-child h2 {
  color: #fff;
}

footer .container .row .col:last-child .social-media-title {
  margin: 20px 0px;
}

footer .copyright {
  padding: 30px 0;
  width: 85%;
  margin: 0 auto;
}

footer .copyright p {
  color: #fff;
  text-align: center;
  font-weight: 300;
}