@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Itim&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101010;
  font-family: "Montserrat", sans-serif;
}

.hero-banner {
  background-image: url(../imgs/variety-of-fresh-raw-beef-steaks-Z5ZHW98c.jpg);
  background-position: center center;
  background-size: cover;
  height: 55vh;
}

.hero-banner .container-hb {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.hero-banner .container-hb h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.hero-banner .container-hb ul {
  display: flex;
}

.hero-banner .container-hb ul li {
  list-style: none;
  margin-right: 0.3rem;
  color: #fff;
}

.hero-banner .container-hb ul li a {
  text-decoration: none;
  color: #fff;
}

.hero-banner .container-hb ul li a:hover {
  color: #d9a273;
  transition: 0.3s ease-in-out;
}

.our-package .container {
  margin: 100px 0px;
}

.our-package .container .intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-package .container .intro-title h4 {
  font-family: "Itim", cursive;
  color: #d9a273;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 15px 0px;
}

.our-package .container .intro-title h2 {
  color: #fff;
  font-size: 3rem;
  margin: 15px 0px;
}

.our-package .container .intro-title p {
  width: 80%;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin: 15px 0px;
}

.our-package .container .packages-row {
  width: 90%;
  margin: 100px auto;
  display: flex;
  column-gap: 40px;
}

.our-package .container .packages-row .col {
  flex-basis: 22.5%;
  border: 1px solid #d9a273;
  text-align: center;
  padding: 1.2rem 0;
}

.our-package .container .packages-row .col:nth-child(3) {
  position: relative;
  border: none;
}

.our-package .container .packages-row .col:nth-child(3) .move-up {
  padding: 1.2rem 0;
  position: absolute;
  border: 1px solid red;
  bottom: 5%;
  text-align: center;
  width: 100%;
  height: 100%;
}

.our-package .container .packages-row .col h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: 15px 0px;
}

.our-package .container .packages-row .col h1 {
  color: #d9a273;
  font-size: 3.2rem;
  margin: 15px 0px;
}

.our-package .container .packages-row .col ul {
  list-style: none;
}

.our-package .container .packages-row .col ul li::before {
  content: "\2713";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.our-package .container .packages-row .col ul li {
  margin: 15px 0px;
  color: #fff;
}

.our-package .container .packages-row .col ul li:nth-child(5)::before,
.our-package .container .packages-row .col ul li:last-child::before {
  content: "\2718";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.our-package .container .packages-row .col:nth-child() ul li::before {
  content: "\2713";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.our-package .container .packages-row .col:nth-child(2) ul li:last-child::before {
  content: "\2718";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.our-package .container .packages-row .col:nth-child(3) ul li::before,
.our-package .container .packages-row .col:last-child ul li::before {
  content: "\2713";
  color: red;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.our-package .container .packages-row .col button {
  outline: none;
  border: none;
  background-color: #bf0413;
  padding: 20px 18px 20px 18px;
  margin: 15px 0px;
  cursor: pointer;
}

.our-package .container .packages-row .col:nth-child(3) button {
  outline: none;
  border: none;
  background-color: #300101;
  padding: 20px 18px 20px 18px;
  margin: 15px 0px;
  cursor: pointer;
}

.our-package .container .packages-row .col:nth-child(3) button:hover {
  background-color: #bf0413;
  transition: 0.3s ease-in-out;
}

.our-package .container .packages-row .col button a {
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
}

.our-package .container .packages-row .col button:hover {
  background-color: #300101;
  transition: 0.3s ease-in-out;
}

.video-bg .container {
  position: relative;
}

.video-bg .container video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-bg .container .video-wrapper {
  border: 2px solid #000;
  height: 60vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  direction: ltr;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-bg .container .video-wrapper video {
  border: none;
  outline: none;
}

.video-bg .container .overlay {
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: #000;
  position: absolute;
}

.video-bg .container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.video-bg .container .header h1 {
  margin: 10px 0px;
  font-size: 3.5rem;
  color: #fff;
}

.video-bg .container .header p {
  font-size: 1rem;
  text-align: center;
  width: 70%;
  color: #fff;
  margin: 20px 0px;
}

.video-bg .container button {
  background-color: #BF0413;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 2.3rem;
}

.video-bg .container button:hover>a {
  background-color: #400101;
  transition: .3s ease-in-out;
}

.video-bg .container button a {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.discover .container video {
  height: 40vh;
  width: 100%;
}

.discover .container .intro-title {
  color: #fff;
  text-align: center;
}

.discover .container .intro-title h1 {
  font-size: 2.5rem;
  padding: 3rem;
}

.discover .container .intro-title p {
  width: 70%;
  margin: 0 auto;
}

.discover .container button {
  background-color: #bf0413;
  outline: none;
  border: none;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

.discover .container button a {
  text-decoration: none;
  color: white;
}

.seller-products {
  background-color: #151515;
  padding-top: 5rem;
}

.seller-products .container {
  padding: 2rem 0;
  color: white;
}

.seller-products .container .row-title {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

.seller-products .container .row-title .col {
  flex-basis: 50%;
}

.seller-products .container .row-title .col .intro-title {
  color: #d9a273;
}

.seller-products .container .row-title .col .title {
  color: white;
  font-size: 3.5rem;
  padding-top: 1rem;
}

.row-images {
  display: flex;
  padding-top: 3rem;
  width: 95%;
  margin: 0 auto;
  column-gap: 50px;
}

.row-images .col {
  flex-basis: 25%;
  padding: 2rem;
  border: 1px solid #d9a273;
}

.row-images .col img {
  width: 100%;
  height: 100%;
}

.row-beefs {
  display: flex;
  width: 95%;
  margin: 0 auto;
  column-gap: 25px;
}

.row-beefs .col {
  flex-basis: 25%;
  text-align: center;
  margin: 23px 0;
}

.price {
  color: #d9a273;
}

.quotes {
  background-image: url(../imgs/meat-markets-fridge-with-different-meat-products-UDF3BZ9.jpg);
  height: 60vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.quotes .container {
  display: flex;
  height: 60vh;
  text-align: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quotes .container i {
  color: #d9a273;
  font-size: 10rem;
}

.quotes .container h3 {
  color: #fff;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
  margin: 0 auto;
}

.quotes .container h1 {
  color: white;
  margin-top: 3rem;
  font-size: 2rem;
}

.quotes .container p {
  color: #d9a273;
  font-weight: 600;
  font-size: 1.1rem;
}